<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Phone_Manager- view</title>
        <link rel="stylesheet" th:href="@{/css/display.css}">

    </head>
    <body>
        <div class="container-dad">
            <div class="container">
                <header>
                    <div class="userName" th:text="@{userName}"><h3>User Name Stays Here</h3></div>
                    <div class="add-btn">
                        <a href="#" class="btn">
                            <div class="hor"></div>
                            <div class="ver"></div>
                        </a>
                    </div>
                </header>
                <ul> <!-- REPLACE THE LI ELEMENTS BELOW -->
                    <div class="empty-list" th:if="${contacts.empty}">
                        <p colspan="2">No contact saved yet</p>
                    </div>
                    <li class="row" th:each="contact:${contacts}">
                        <h4 th:text="${contact.name}"></h4>
                        <h6 th:text="${contact.mobile}"></h6>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>