<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Phone_Manager- view</title>
        <link rel="stylesheet" th:href="@{/css/display.css}">

    </head>
    <body>
        <div class="container-dad">
            <div class="container">
                <header>
                    <a th:href="@{http://localhost:8083}">
                        <img th:src="@{/css/back.png}" alt="back" class="img">
                    </a>
                    <div class="userName"><h3 th:text="${user.userName}">User Name</h3></div>
                    <div class="add-btn">
                        <a th:href="@{/contacts/newContact/} + ${user.id}" class="btn">
                            <div class="hor"></div>
                            <div class="ver"></div>
                        </a>
                    </div>
                </header>
                <ul> <!-- REPLACE THE LI ELEMENTS BELOW -->
                    <div class="empty-list" th:if="${user.getContact().empty}">
                        <p>No contact saved yet</p>
                    </div>
                    <li class="row" th:each="contact:${user.getContact()}">
                        <div>
                            <h4 th:text="${contact.contactName}"></h4>
                            <h6 th:text="${contact.mobileNumber}"></h6>
                        </div>
                        <div class="act">
                            <a class="btn blue" href="#">Edit</a>
                            <a class="btn red" th:href="@{/user/delete/} + ${user.id} + '/' + ${contact.id}" >Delete</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>